

#component-browser {
    --background-color: green;
    background-color:darkgrey;
    display: flex;
    flex-direction:column;
    min-width: 200px;
    height: stretch;
    border: 4px solid black;
    padding:10px;
    overflow:clip;

    display:none;
    
}