

#component-browser {
    --background-color: green;
    background-color:darkgrey;
    display: flex;
    flex-direction:column;
    min-width: 200px;
    max-width: 200px;
    height: stretch;
    border: 4px solid black;
    padding:10px;
    margin: 16px;
    position: absolute;
    top: 0px;
    right: 0%;
    z-index: 5;

    --display:none;
    
}