@if(visibleTips.Length != 0)
{
    <div class="control-tip-window" @onclick="TempUpdateTips">
        
        @foreach (var tip in visibleTips)
        {
            <p @key="tip">
                @tip
            </p>
        }
    </div>
}



@code {
    private string[] visibleTips { get; set; } = [];

    protected override Task OnInitializedAsync()
    {
        this.visibleTips = ["Hello world!", "These are testing tips!", "Please let this work..."];
        return base.OnInitializedAsync();
    }

    private async Task TempUpdateTips()
    {
        this.visibleTips = ["I have updated the tips!!!", "This is a second tip", "This is a third tip"];
    }
}
