.control-tip-window
{
    margin: 0;
    padding: 0;
    border-top: 4px solid black;
    border-right: 4px solid black;
    padding: 8px;
    padding-right: 10%;
    margin-left: 4px;
    background: gray;
    width: fit-content;

}

p{
    margin: 0;
}