@inject IJSRuntime JSRuntime

<canvas @ref="_canvasReference" @onclick="HandleCanvasClick" id="design-canvas" width="250" height="350">I am the main canvas</canvas>
<p>Clicked coordinate: x = @_clickX, Y = @_clickY</p>

@code {
    [Parameter]
    public string SelectedColor { get; set; } = "none";


    private ElementReference _canvasReference;
    // ...
    private int cellSize = 20;

    private Random rand = new Random();


    private double _clickX;
    private double _clickY;

    //sets up canvas for the first time (if necessary), then draws canvas
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("canvasInterop.setupCanvas", _canvasReference, cellSize);
            SelectedColor = "none";
        }
        await Redraw();
    }



    protected async Task Redraw()
    {
        await JSRuntime.InvokeVoidAsync("canvasInterop.redraw");
    }

    private async Task HandleCanvasClick(MouseEventArgs e)
    {
        _clickX = Math.Truncate(e.OffsetX / cellSize);
        _clickY = Math.Truncate(e.OffsetY / cellSize);
        if (SelectedColor.Equals("none"))
        {
            await JSRuntime.InvokeVoidAsync("logString", "Selected Color is \"none\"");
            return;
        }
        var c = new ComponentNode(SelectedColor);
        c.CellX = _clickX;
        c.CellY = _clickY;

        c.width = rand.Next(1, 10);
        c.height = rand.Next(1, 10);

        await JSRuntime.InvokeVoidAsync("canvasInterop.addComponent", c);
        //_clickX = e.OffsetX;
        //_clickY = e.OffsetY;
        await JSRuntime.InvokeVoidAsync("canvasInterop.redraw");
    }
}
