@page "/"
@using System.Threading.Tasks
@rendermode InteractiveServer
@inject LayoutPlannerPOC.StateManager sm
@inject IJSRuntime JSRuntime


<PageTitle>Satisfactory Layout Planner</PageTitle>
<div id="everything">

</div>
<section id="activity-section" @onkeydown="HandleKeyDown">
    <DesignCanvas/>
</section>
<Hotbar>
    <HotbarButton ButtonId=1/>
    <HotbarButton ButtonId=2 />
    <HotbarButton ButtonId=3 />
    <HotbarButton ButtonId=4 />
    <HotbarButton ButtonId=5 />
    <HotbarButton ButtonId=6 />
    <HotbarButton ButtonId=7 />
    <HotbarButton ButtonId=8 />
    <HotbarButton ButtonId=9 />
    <HotbarButton ButtonId=0 />
</Hotbar>
<ComponentBrowser>
    <ComponentCategory Label="Special">
        <FactoryComponentButton Label="The Hub"/>
        <FactoryComponentButton Label="AWESOME Sink"/>
    </ComponentCategory>

    <ComponentCategory Label="Manufacturers">
        <FactoryComponentButton Label="Constructor" />
        <FactoryComponentButton Label="Assembler" />
        <FactoryComponentButton Label="Manufacturer" />
        <FactoryComponentButton Label="Packager" />
        <FactoryComponentButton Label="Refinery" />
        <FactoryComponentButton Label="Blender" />
        <FactoryComponentButton Label="Particle Accelerator" />
        <FactoryComponentButton Label="Converter" />
    </ComponentCategory>

    <ComponentCategory Label="Smelters">
        <FactoryComponentButton Label="Smelter" />
        <FactoryComponentButton Label="Foundry" />
    </ComponentCategory>

    <ComponentCategory Label="Miners">
        <FactoryComponentButton Label="Miner" />
    </ComponentCategory>
</ComponentBrowser>
@code{

    private async Task HandleKeyDown(KeyboardEventArgs e)
    {
        //Console.WriteLine($"Key pressed: {e.Key}");  

        switch (e.Key)
        {
            //panning movements (WASD)
            case ("w"):
                await JSRuntime.InvokeVoidAsync("canvasInterop.panUp");
                break;
            case ("a"):
                await JSRuntime.InvokeVoidAsync("canvasInterop.panLeft");
                break;
            case ("s"):
                await JSRuntime.InvokeVoidAsync("canvasInterop.panDown");
                break;
            case ("d"):
                await JSRuntime.InvokeVoidAsync("canvasInterop.panRight");
                break;
            //panning movements (arrow keys)
            case ("ArrowUp"):
                await JSRuntime.InvokeVoidAsync("canvasInterop.panUp");
                break;
            case ("ArrowDown"):
                await JSRuntime.InvokeVoidAsync("canvasInterop.panDown");
                break;
            case ("ArrowLeft"):
                await JSRuntime.InvokeVoidAsync("canvasInterop.panLeft");
                break;
            case ("ArrowRight"):
                await JSRuntime.InvokeVoidAsync("canvasInterop.panRight");
                break;
            //return home (H)
            case ("h"):
                await JSRuntime.InvokeVoidAsync("canvasInterop.goHome");
                break;
            case("1"):
                break;
        }
    }
}
