@page "/"
@rendermode InteractiveServer
@inject LayoutPlannerPOC.StateManager sm


<PageTitle>Satisfactory Layout Planner</PageTitle>

<section id="activity-section">
    <DesignCanvas/>
</section>
<section id="toolbar">
    <button class="hotbar-button">
        1
    </button>
    <button class="hotbar-button">
        2
    </button>
    <button class="hotbar-button">
        3
    </button>
    <button class="hotbar-button">
        4
    </button>
    <button class="hotbar-button">
        5
    </button>
    <button class="hotbar-button">
        6
    </button>
    <button class="hotbar-button">
        7
    </button>
    <button class="hotbar-button">
        8
    </button>
    <button class="hotbar-button">
        9
    </button>
    <button class="hotbar-button">
        0
    </button>
</section>
<ComponentBrowser>
    <ComponentCategory Label="Special">
        <FactoryComponentButton Label="The Hub"/>
        <FactoryComponentButton Label="AWESOME Sink"/>
    </ComponentCategory>

    <ComponentCategory Label="Manufacturers">
        <FactoryComponentButton Label="Constructor" />
        <FactoryComponentButton Label="Assembler" />
        <FactoryComponentButton Label="Manufacturer" />
        <FactoryComponentButton Label="Packager" />
        <FactoryComponentButton Label="Refinery" />
        <FactoryComponentButton Label="Blender" />
        <FactoryComponentButton Label="Particle Accelerator" />
        <FactoryComponentButton Label="Converter" />
    </ComponentCategory>

    <ComponentCategory Label="Smelters">
        <FactoryComponentButton Label="Smelter" />
        <FactoryComponentButton Label="Foundry" />
    </ComponentCategory>

    <ComponentCategory Label="Miners">
        <FactoryComponentButton Label="Miner" />
    </ComponentCategory>
</ComponentBrowser>
@code{
    
    
    // private string selectedColor = "None";

    // private void HandleSelect(string color)
    // {
    //     selectedColor = color;
    //     StateHasChanged();
    //     Console.WriteLine($"Button clicked: {color}");
    // }

}