@page "/"
@rendermode InteractiveServer
@inject IJSRuntime JSRuntime
<PageTitle>Home</PageTitle>
<div id="main-div">
    <section id="activity-section">
        <DesignCanvas></DesignCanvas>
        
        <section id="toolbar">
            <button class="hotbar-button">
                1
            </button>
            <button class="hotbar-button">
                2
            </button>
            <button class="hotbar-button">
                3
            </button>
            <button class="hotbar-button">
                4
            </button>
            <button class="hotbar-button">
                5
            </button>
            <button class="hotbar-button">
                6
            </button>
            <button class="hotbar-button">
                7
            </button>
            <button class="hotbar-button">
                8
            </button>
            <button class="hotbar-button">
                9
            </button>
            <button class="hotbar-button">
                0
            </button>
        </section>
    </section>
    <aside id="components" width="200">
        <div>components go here
            <button class="btn btn-primary2" @onclick="CreateNewBuilding">Add Building</button>
            <button class ="btn btn-primary" @onclick="GetBuildings">Print Buildings List</button>
        </div>
    </aside>
</div>

<!--
@* Event Handler *@
<script>
    //scroll wheel event
    window.addEventListener("wheel", function(event)
    {
        if(1 == 1) return; //TODO: Remove
        if(event.deltaY < 0) zoomIn(); //zoom in for scrolling down
        if(event.deltaY > 0) zoomOut(); //zoom out for scrolling up
    });

    window.addEventListener("keypress", function(event)
    {
        if(1 == 1) return; //TODO: Remove


        if(event.key == 'd') panRight();
        if(event.key == 'a') panLeft();
        if(event.key == 'w') panUp();
        if(event.key == 's') panDown();
        if(event.key == 'h') goHome();
        if(event.key == 'q')
        {
            obj = {
                row: Math.round(Math.random() * 100),
                col: Math.round(Math.random() * 100),
                length: Math.round(Math.random() * 10),
                width:Math.round(Math.random() * 10)
            };
            components.push(obj);
            drawGrid();
        };
    });

    
</script>
-->

<script src="js/scripts.js"></script>
@code {

    public async Task CreateNewBuilding()
    {
        var building = new Building("Test02", "red2", 10, 5);

        await JSRuntime.InvokeVoidAsync("someJsFunction", building);

        var building2 = new Building("Test22", "blue2", 5, 10);
        await JSRuntime.InvokeVoidAsync("someJsFunction", building2);


    }

    public async Task GetBuildings()
    {
        foreach(Building buildingt in Building.BuildingsList)
        {
    
            await JSRuntime.InvokeVoidAsync("someJsFunction", buildingt);
        }
    }
}