@page "/"
<PageTitle>Home</PageTitle>
<div id="main-div">
    <section id="activity-section">
        <DesignCanvas></DesignCanvas>
        
        <section id="toolbar">
            <button class="hotbar-button">
                1
            </button>
            <button class="hotbar-button">
                2
            </button>
            <button class="hotbar-button">
                3
            </button>
            <button class="hotbar-button">
                4
            </button>
            <button class="hotbar-button">
                5
            </button>
            <button class="hotbar-button">
                6
            </button>
            <button class="hotbar-button">
                7
            </button>
            <button class="hotbar-button">
                8
            </button>
            <button class="hotbar-button">
                9
            </button>
            <button class="hotbar-button">
                0
            </button>
        </section>
    </section>
    <aside id="components" width="200">
        <div>components go here</div>
    </aside>
</div>


@* Event Handler *@
<script>
    //scroll wheel event
    window.addEventListener("wheel", function(event)
    {
        if(event.deltaY < 0) zoomIn(); //zoom in for scrolling down
        if(event.deltaY > 0) zoomOut(); //zoom out for scrolling up
    });

    window.addEventListener("keypress", function(event)
    {
        if(event.key == 'd') panRight();
        if(event.key == 'a') panLeft();
        if(event.key == 'w') panUp();
        if(event.key == 's') panDown();
        if(event.key == 'q')
        {
            obj = {
                row: Math.round(Math.random() * 100),
                col: Math.round(Math.random() * 100),
                length: Math.round(Math.random() * 10),
                width:Math.round(Math.random() * 10)
            };
            components.push(obj);
            drawGrid();
        };
    });

    
</script>