@page "/"

<PageTitle>Home</PageTitle>


<div class="main-div">
    <div id="canvas-div">
        <canvas>
            I am a canvas
        </canvas>
        <div id="hotbar">
            @* creating inventory buttons *@
            <button class="hotbar-button">1</button>
            <button class="hotbar-button">2</button>
            <button class="hotbar-button">3</button>
            <button class="hotbar-button">4</button>
            <button class="hotbar-button">5</button>
            <button class="hotbar-button">6</button>
            <button class="hotbar-button">7</button>
            <button class="hotbar-button">8</button>
            <button class="hotbar-button">9</button>
            <button class="hotbar-button">0</button>
        </div>
    </div>
    <div>2</div>
</div>